.features {
  opacity: 0;
  transform: translateY(40px);
  transition: all 1s ease-in-out;
  padding: 6rem 2rem;
  text-align: center;
  color: #fff;
}

.features.visible {
  opacity: 1;
  transform: translateY(0);
}

.features-title {
  font-size: 45px;
  margin-bottom: 2rem;
  color: #facc15; 
}

.features-list {
  list-style: none;
  padding: 0;
  margin: 0 auto;
  max-width: 800px;
  font-size: 23px;
  line-height: 2rem;
}

.features-list li {
  margin-bottom: 1.2rem;
}
