html,
body,
#root {
  height: 100%;
  margin: 0;
  padding: 0;
  font-family: Arial, sans-serif;

}

body {
  margin: 0;
  padding: 0;
  font-family: Arial, sans-serif;
  background-color: rgb(54, 182, 3);
  background-size: 400% 400%;


}

.app-wrapper {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  position: relative;
}

.app-content {
  flex: 1;
  display: flex;
  flex-direction: column;
  z-index: 1;
  padding: 20px 0;
}


.global-background {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 0;
}